{% extends "base.html"%}

{%block content%}
<table><tr><td height=30></tr></td></table>

	{% if documents %}
        <ul><table>
        {%for document in documents %}
           <tr><td>
           <li>
           <h2>{{document.title}}</h2>
            {{document.modify_date | date:"N d, Y"}}
            <p>{{document.description}}</p></li>
            </td></tr>
        {%endfor%}</table>
         </ul>
    {% else %}
        <p> No Files. </p>
    {%endif%}

<br/>

<div class ="body">
	<a href ="javascript:history.back()">Go Back</a>
</div>
{%endblock%}
