{% extends "base.html"%}

{% block title %}Example Hompage{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
<div id="content_home">
	<div id="homeing">
		<h2>Select Aplication</h2>

	<table id="applist" align='center'>
	
	<tr>
		<td><b><i><a href="{% url 'upfile:upload_file'%}">분석자료업로드</a></i></td></b>
		<td>새로 분석할 자료 업로드</td>
	</tr>
	<tr>
		<td><b><i><a href="user/admin">분석목록확인</a></i></b></td>
		<td>지금까지 분석했던 자료 확인</td>
	</tr>
	
	</table>
	</div>
	
</div>
{%endblock content%}

{%block footer%}
<div id="footer">
	&copy; 인턴사원 박성범 2017	
</div>
{%endblock footer%}
