<!DOCTYPE html>
<html lang="ko">
<head>
   <title>{% block title%}Hansol Textmining Homepage{%endblock%}</title>

    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{%endblock%}"/>
</head>
<body>

<div id ="header">

    <h2 class="maintitle">Example Hompage Python TextMining HANSOL</h2>

    <h4 class="welcome">Welcome 성범&nbsp;&nbsp;  </h4>
</div>

<div id="menu">
    <li><a href="{%url 'home' %}">Home</a> </li>
    <li><a href="#">Archive</a> </li>
    <li><a href="#">Search</a> </li>
    <li><a href="{%url 'admin:index' %}">Admin</a> </li>
</div>

{% block content%} {%endblock%}
{% block footer%} {%endblock%}

</body>
</html>
